body {
    background-color: #f2a6e4;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

canvas {
    background-color: #f1f5f6;
    border: 5px solid #32cd32;
    border-radius: 15px;
  }
  
#startButton, #playAgainButton {
    padding: 10px 30px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
#startButton:hover, #playAgainButton:hover {
    background-color: #ff4500;
  }
  
#message {
    font-size: 24px;
    color: #32cd32;
  }
  